<section>
  <div class="container">
    <h1>
      FORMACIÓN INTERNACIONAL
      <br />
      <span> BARRAS de Access Consciousness® </span>
    </h1>
    <p>¡Transformá tu vida y tu cuerpo, liberando tu mente!</p>
  </div>
</section>

<style lang="scss">
  section {
    background: rgb(var(--color-pink-light-rgb));

    div {
      padding-top: 120px;
      padding-bottom: 60px;

      h1 {
        color: rgb(var(--color-light-rgb));
        margin-bottom: 18px;

        span {
          font-weight: 400;
          color: rgb(var(--color-pink-dark-rgb));
        }
      }

      p {
        color: rgb(var(--color-light-rgb));
        font-family: Bashield, serif;
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        text-wrap: balance;
        margin: 0;
      }
    }
  }

  @media (width <= 640px) {
    section {
      div {
        h1 {
          font-size: 40px;

          span {
            font-size: 36px;
          }
        }

        p {
          font-size: 24px;
        }
      }
    }
  }
</style>
