---
import ProfilePictureFloat from "../ProfilePictureFloat.astro";
import Signature from "../Signature.astro";
---

<section class="s-p-block">
  <div class="container">
    <h2>¿Cómo cambió mi vida?</h2>

    <div class="content">
      <ProfilePictureFloat left={false} borderRadius="16px 48px" />

      <p>
        <b>
          Tomé mi primera clase de barras en diciembre del 2020, y desde ese momento, mi conexión con mi cuerpo y mi
          percepción de mí misma empezaron a cambiar radicalmente.</b
        >
      </p>
      <p>
        Durante años, había enfrentado un gran desafío en mi vida: la dermatitis atópica, un diagnóstico que me habían
        dado desde los 3 años y para el cual, a pesar de <b
          >múltiples tratamientos, no encontraba una solución definitiva</b
        >. Me decían que era tratable, pero no curable, lo cual <b>me generaba una profunda frustración</b>. No quería <b
          >vivir toda mi vida sintiéndome incómoda con mi apariencia física, con baja autoestima y aislada de los demás</b
        >, especialmente cuando los episodios de eccema afectaban mi piel y mi rostro.
      </p>
      <p>
        Además, mi cuerpo se veía afectado por el <b>hipotiroidismo</b>, y los medicamentos que tomaba para tratar ambas
        condiciones me llevaron a un <b>aumento considerable de peso</b>, lo que me generaba aún más incomodidad con mi
        cuerpo.
      </p>
      <p>
        <span>
          A lo largo de los años, probé diversas técnicas y herramientas para mejorar mi situación, pero ninguna parecía
          ser la solución definitiva que tanto anhelaba.
        </span>
      </p>
      <p>
        Fue entonces cuando encontré las clases de <b>Barras de Access Consciousness®</b>, y mi vida empezó a cambiar
        de manera sorprendente. Comencé a notar <span>cambios más grandes y significativos</span>. Poco a poco, <b
          >fui reduciendo algunas medicaciones</b
        > hasta que finalmente algunas ya no eran necesarias. Los episodios de eccema generalizado desaparecieron, y finalmente
        pude <b>disfrutar plenamente de mi cuerpo y de mi vida</b>.
      </p>
      <p>
        Pero los cambios no se limitaron solo a mi cuerpo físico; mi conexión conmigo misma cambió por completo. <span
          >Me siento más tranquila, confiada y segura de mí misma</span
        >. Esto se reflejó en todos los aspectos de mi vida, incluso en lo económico, mejorando la situación de mi
        familia.
      </p>
      <p>
        Mi <b>experiencia</b> con las barras fue tan <b>poderosa y transformadora</b> que decidí certificarme como facilitadora
        para compartir esta increíble herramienta con otras personas que deseen cambiar su vida y su percepción de si mismos.
      </p>
      <p>
        <span>
          Ahora, mi misión es acompañarlos a reconocer su potencial y las posibilidades de crear algo más grandioso en
          sus vidas, así como lo hice yo.
        </span>
      </p>
    </div>
  </div>

  <Signature />
</section>

<style lang="scss">
  section {
    background: rgba(var(--color-pink-light-rgb), 0.5);

    .content {
      max-width: 1024px;
      margin-inline: auto;

      p {
        span {
          color: rgb(var(--color-pink-dark-rgb));
          font-weight: 600;
        }
      }
    }
  }
</style>
