---
import LandingCards from "@/components/landing/LandingCards.astro";
import { sessions } from "@/data/data.json";
---

<section id="sessions">
  <div class="container s-p-block">
    <h2>Sesiones</h2>
    <LandingCards cards={sessions} />
  </div>
</section>

<style>
  section {
    background: rgba(var(--color-pink-light-rgb), 0.5);
  }
</style>
