---
import LandingCards from "@/components/landing/LandingCards.astro";
import { services } from "@/data/data.json";
---

<section id="services">
  <div class="container s-p-block">
    <h2>Servicios</h2>
    <LandingCards cards={services} />
  </div>
</section>

<style>
  section {
    background: rgb(var(--color-salmon-rgb));
  }
</style>
