---
import ProfilePictureFloat from "../ProfilePictureFloat.astro";
---

<section class="container s-p-block" id="about-me">
  <h2>Sobre mí</h2>

  <div class="content">
    <ProfilePictureFloat left={false} borderRadius="50%" />
    <!-- <img src="/assets/img/about-me.webp" alt="Selfie Lic. Carolina Castelblanco" /> -->

    <div>
      <p>
        <span>Soy Carolina,</span> creadora de Espacio Reconeta Salud, donde brindo herramientas diferentes, que yo misma
        he experimentado y han cambiado mi vida, para mujeres que quieran reconectarse con su cuerpo, empoderarse, mejorar
        su salud, tomar las riendas de su bienestar y transformar su vida.
      </p>
      <p>
        <b>A través de mentorías, programas, sesiones, talleres y formación en Barras de Access Consciousness®.</b>
      </p>
    </div>

    <div>
      <p><span>En mi proceso de reconexión con mi cuerpo he logrado:</span></p>
      <ul>
        <li>
          <b>Mejorar</b> mi calidad de vida.
        </li>
        <li>
          <b>Aprender</b> a escuchar mi cuerpo.
        </li>
        <li>
          <b>Disminuir</b> el consumo de medicamentos.
        </li>
        <li>
          <b>Recuperarme</b> de las enfermedades diagnosticadas.
        </li>
        <li>
          <b>Reconectar</b> con mi propio saber y poder.
        </li>
      </ul>
    </div>

    <div>
      <p>
        Me formé como licenciada en <b>Terapia Ocupacional</b> y facilitadora certificada de
        <b>Barras de Access Consciousness®</b>.
      </p>
      <p>
        Mi propia búsqueda de sanación me ha llevado a adquirir conocimientos en diversas áreas, como rehabilitación
        neurocognitiva, Reiki Usui, Flores de Bach, meditación, mesa radiónica, tameana, constelaciones familiares y
        herramientas de Access Consciousness® (barras, facelift, procesos de cuerpo, procesos verbales).
      </p>
      <p>
        <b>
          Te invito a ser parte de este camino hacia una vida más plena y consciente. ¡Juntas, podemos lograr grandes
          cambios y descubrir nuestro propio poder interior!
        </b>
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  .content {
    max-width: 1024px;
    margin-inline: auto;

    & > div {
      margin-bottom: 48px;
    }

    ul {
      list-style: disc;
      padding-left: 32px;
    }

    p {
      max-width: 1200px;
    }

    p > span {
      font-family: Bashield, serif;
      font-weight: bold;
      color: rgb(var(--color-pink-dark-rgb));
    }
  }
</style>
