---
import Layout from "@/layouts/Layout.astro";

const TITLE = "Mentoria 1:1 SOS Cuerpo Feliz";
const DESCRIPTION =
  "¡Reconecta con tu cuerpo y transformá tu vida con técnicas energéticas y escucha activa de tu cuerpo!";
---

<Layout title={TITLE} description={DESCRIPTION}>
  <h1 style="margin-top: 150px;">{TITLE}</h1>
</Layout>
