---
import Layout from "@/layouts/Layout.astro";

const TITLE = "Herramientas de Access Consciousness®";
const DESCRIPTION =
  "Access Consciousness® es una empresa que brinda un conjunto de herramientas y procesos diseñados para facilitar más consciencia a todos.";
---

<Layout title={TITLE} description={DESCRIPTION}>
  <h1 style="margin-top: 150px;">{TITLE}</h1>
</Layout>
