---
const { title } = Astro.props;
---

<li class="item-course">
  <div class="item-course-container">
    <h3 class="item-course-title">{title}</h3>
    <div class="item-course-content">
      <slot />
    </div>
  </div>
</li>

<style lang="scss">
  .item-course {
    position: relative;
    max-width: 992px;
    margin-inline: auto;
    border-left: 1px solid rgb(var(--color-salmon-rgb));
    padding-left: 32px;
    padding-bottom: 64px;

    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      background: rgb(var(--color-pink-dark-rgb));
      border-radius: 50%;
      left: -7px;
      top: 12px;
    }

    &-container {
      padding-top: 6px;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 32px;
    }

    &-title {
      grid-column: span 2;
      text-align: left;
    }

    &-content {
      grid-column: span 4;
    }
  }

  @media (width <= 640px) {
    .item-course {
      &-container {
        grid-template-columns: 1fr;
      }

      &-title {
        grid-column: auto;
      }

      &-content {
        grid-column: auto;
      }
    }
  }
</style>
