<section>
  <div class="container">
    <h1>
      Empoderando <span>a las MUJERES a</span> reconectar <span>con su CUERPO,</span> mejorar <span>su SALUD y</span> disfrutar
      <span>su VIDA</span>
    </h1>
  </div>
</section>

<style>
  section {
    background: rgb(var(--color-pink-light-rgb));
  }

  div {
    padding-block: 224px;
  }

  h1 {
    color: rgb(var(--color-light-rgb));
    margin-bottom: 0;
  }

  h1 span {
    color: rgb(var(--color-pink-dark-rgb));
  }

  @media (width <= 640px) {
    div {
      padding-block: 140px;
    }

    h1 {
      font-size: 40px;
    }
  }
</style>
