---
import { info } from "@/data/data.json";
---

<p>{info.signature}</p>

<style>
  p {
    font-family: DancingScript, cursive;
    text-align: center;
    color: rgb(var(--color-pink-dark-rgb));
    font-size: 40px;
    margin-top: 48px;
    margin-bottom: 0px;
  }
</style>
