<div>
  <p>
    Técnica corporal que activa diferentes energías para resolver las tensiones, resistencias, bloqueos y restaurar la
    relación y la comunicación con tu cuerpo, disfrutando de él por completo.
  </p>
  <p>
    Si tuvieras que elegir entre la sanación y el dolor... ¿Qué elegirías para ti y para tu cuerpo? Y si pudieras
    mejorar cualquier aspecto de tu cuerpo que esté funcionando mal... ¿lo harías?
  </p>
  <p>
    Cuando tus energías se desbloquean, se crean nuevas posibilidades de cambio y transformación en tu cuerpo y
    comienzas a reconectarte, a recuperar la salud y el bienestar.
  </p>
  <p>
    El cuerpo tiene la habilidad de auto regenerarse en forma constante. No obstante, la mayoría de las personas tiene
    un punto de vista que le inculca el envejecimiento y la degeneración del cuerpo. Estos procesos de envejecimiento se
    detienen al realizar Procesos Corporales debido a que, durante las sesiones, la estructura del cuerpo tiende a
    cambiar y se revierte todo mal funcionamiento de órganos y sistemas.
  </p>
  <p>
    <b>Access Consciousness®</b> es una empresa que brinda un conjunto de herramientas y procesos diseñados para facilitar
    más consciencia a todos. La consciencia lo incluye todo, sin juicio. Te permite estar totalmente presente en todas las
    áreas de tu vida. Despertar continuamente a más posibilidades, más elecciones y más vida. Que te reconozcas como el <b
      >Ser Infinito</b
    >
    que eres y que funciones desde un infinito percibir, saber, ser y recibir.
  </p>
  <p>
    <b
      >¿Qué tal si comienzas a crear una comunión única con tu cuerpo? ¿Te gustaría verte totalmente diferente, más
      joven, saludable, fuerte, feliz?</b
    >
  </p>
  <p>
    ¡Reserva ahora tu Sesión de Procesos de cuerpo de Access Consciousness y permite que tu cuerpo transite con menos
    dolor, más alegría y conexión! ¡Restablece el buen funcionamiento de tu cuerpo con los procesos de Access
    Consciousness®!
  </p>
  <p><b>Modalidad:</b> Presencial.</p>
  <p><b>Duración:</b> 1 Hora.</p>
  <p>
    Son más de 60 procesos diferentes y en la sesión se activa el o los procesos que el cuerpo requiere, colocando las
    manos en diferentes partes.
  </p>
</div>
