<section>
  <h1 class="container">
    Herramientas <br />
    <span>Access Consciousness®</span>
  </h1>
</section>

<style lang="scss">
  section {
    background: rgb(var(--color-pink-light-rgb));

    padding-top: 120px;
    padding-bottom: 60px;

    h1 {
      color: rgb(var(--color-light-rgb));
      margin-bottom: 18px;

      span {
        color: rgb(var(--color-pink-dark-rgb));
      }
    }
  }

  @media (width <= 640px) {
    section {
      h1 {
        font-size: calc(var(--font-size) * 2.2);

        span {
          font-size: calc(var(--font-size) * 2);
        }
      }
    }
  }
</style>
