---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Ignacio Fernández Jeansalle & Pablo Manzoni" />
    <!-- <meta
      name="keywords"
      content="Buceo, Buceo PADI Argentina, Cursos de buceo, Viajes de Buceo, Escuela de Buceo, Escuela de Buceo en Capital Federal, Escuela de Buceo PADI en Capital Federal, Clases de Buceo, Buceo en Argentina, Open Water Diver, PADI Dive Center, Atlantida Diving School, Scuba, Scuba diving, centro internacional de buceo, cursos, viajes de buceo, salidas, diving, dive, divecenter, buenos aires buceo, puerto madryn, buceo en patagonia, argentina, buceo en caribe, buceo en brasil, equipos de buceo, tanque, chalecos, trajes, neoprene, reguladores, buzo, bucear, aprender, la cuba de campo de mayo, buceo profesional, advanced, rescate, divemaster, instructor, nitrox, buceo profundo, experiencia, videosub, fotosub, efr, primeros auxilio, canteras salto uruguay, el terrible, padi divecheck, orca, ballenas, cozumel, submarinismo, agua, pileta climatizada, temporada verano, oxigeno, camara hiperbarica"
    /> -->
    <!-- <link rel="canonical" href={canonicalURL} /> -->
    <!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->
    <!-- <link rel="icon" href="/favicon.png" /> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --bg-color-body: #fbf1de;
    --bg-color-navbar: #52366c;
    --bg-color-pink: #ac74ac;
    --bg-color-salmon: #de907f;

    --font-size: 16px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /* font-family: $font-family; */
    /* font-style: $font-style; */
    /* letter-spacing: $font-letter-spacing; */
    font-size: var(--font-size);
    background: var(--bg-color-body);
  }
</style>
